<div class="mt-5 d-flex justify-content-center align-items-center">
  <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
    <h1 class="text-center mb-4 text-primary">Admin Login!</h1>
    <form action="/admin" method="POST" onsubmit="return myFunc()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" value="{{adminEmailval}}" name="Email" onkeyup="emailValidate()" class="form-control bg-info bg-opacity-10 border border-primary " id="exampleInputEmail1"
          aria-describedby="emailHelp" />
        <div class="emailError"></div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="Password" onkeyup="passwordValidate()" class="form-control bg-info bg-opacity-10 border border-primary "
          id="exampleInputPassword1" />
          <div class="passError"></div>
          {{#if adminloginErr}}
          <p class="bhh ">Invalid email or password!</p>
          {{/if}}
      </div>
      <p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p>
      <div class="d-grid">
        <button class="btn btn-primary"  type="submit">Login</button>
      </div>
    </form>
  </div>
</div>