<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" id="hov" href="/login/userhome">User</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" id="hov2" aria-current="page" href="">Products</a>
        </li>
      </ul>
        
        <div class="d-flex me-2" style="height: 21px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#002ed5" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
        <div class="">
          {{#if user}}
          <p>{{user.Name}}</p>
          {{/if}}
        </div>
        </div>
        <a href="/login/logout"><button class="btn btn-outline-primary" type="submit">Logout</button></a>
    </div>
  </div>
</nav>