<div class=" d-flex justify-content-center align-items-center">
    <div class="col-md-4 p-5 shadow-sm border rounded-3">
        <h2 class="text-center mb-4 text-primary">SignUp Form</h2>
        <form action="/login/signup" method="POST" onsubmit="return myFunc()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" {{#if emailExists}}value="{{signupName}}" {{/if}} onkeyup="nameValidate()"
                    class="form-control border border-primary" id="name01" name="Name" />
                <div class="nameError"></div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" {{#if emailExists}}value="{{signupEmail}}" {{/if}} onkeyup="emailValidate()"
                    class="form-control border border-primary" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="Email" />
                <div class="emailError"></div>
                {{#if emailExists}}
                <p class="bhh ">Email already exists!</p>
                {{/if}}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">New Password</label>
                <input type="password" onkeyup="passValidate()" class="form-control border border-primary"
                    id="exampleInputPassword1" name="Password" />
                <div class="passError"></div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" onkeyup="pass2Validate()" class="form-control border border-primary"
                    id="exampleInputPassword2" />
                <div style="margin-top: 7px;" id="CheckPasswordMatch"></div>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary" type="submit">SignUp</button>
            </div>

        </form>
        <div class="mt-3">
            <p class="mb-0 text-center">Already have an account?
                <a href="/login" class="text-primary fw-bold">Login</a>
            </p>
        </div>
    </div>
</div>


