@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
body {
    background-image: url(/images/login-background.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
#hov{
    color: #002ed5;
}
#hov2{
    color: #002ed5;
}
